.dark-text {
  color: black;
  font-weight: 500;
}

.light-text {
  color: #444444;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #383334;
  line-height: 1.2;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 15px;
  background-color: #f3f9ff;
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  position: relative;
}
.header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-image: url("../img/header-bg-bottom.png");
  background-size: cover;
  background-position: center top;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.header__top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 945px;
  margin-left: auto;
  margin-bottom: 50px;
  position: relative;
  z-index: 10;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-img {
  margin-right: 15px;
}
.header__logo-text {
  font-size: 22px;
  font-weight: 900;
}
.header__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__about-block + .header__about-block {
  margin-left: 35px;
}
.header__about-img {
  margin-right: 12px;
}
.header__about-text {
  color: #444444;
  font-style: italic;
}
.header__container {
  position: relative;
}

.text-line-1 {
  border-bottom: 5px solid #ff6b00;
  display: inline-block;
  line-height: 0.8;
}

.text-line-2 {
  border-bottom: 5px solid #a7c93d;
  display: inline-block;
  line-height: 0.8;
}

.text-line-sm {
  border-bottom-width: 3px;
}

.top-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.top-display__text-block {
  width: 370px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
.top-display__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.1;
}
.top-display__subtitle {
  font-size: 34px;
  font-weight: 700;
}
.top-display__item {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.top-display__item-icon {
  width: 60px;
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 500px;
  color: white;
  height: 60px;
  background-color: #a7c93d;
  border: 7px solid #e8edc9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 20px;
}
.top-display__item-text {
  color: #444444;
  font-size: 20px;
}
.top-display__item:not(:last-child):before {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 10px;
  left: 24px;
  bottom: -48px;
  height: 40px;
  background-image: url("../img/list-shape-2.svg");
}
.top-display__item:first-child:before {
  bottom: -36px;
  height: 30px;
  background-image: url("../img/list-shape-1.svg");
}
.top-display__list {
  position: relative;
  z-index: 10;
}
.top-display__list__shape {
  position: absolute;
  top: 0px;
}
.top-display__form-block {
  width: 270px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 30px;
  border: 7px solid #a7c93d;
  border-radius: 15px;
  background-color: #ffffff;
}
.top-display__form-block-inner {
  padding: 13px 15px 15px 15px;
  padding-bottom: 15px;
}
.top-display__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 10px 10px 10px;
  position: relative;
  top: -7px;
  margin: 0 auto;
  border: 6px solid #a7c93d;
  border-top: 0px;
  border-radius: 0 0 15px 15px;
  width: 150px;
  background-color: #f3f9ff;
}
.top-display__delivery-img {
  margin-right: 7px;
}
.top-display__delivery-text {
  font-size: 16px;
}
.top-display__discount-title {
  font-size: 20px;
  text-align: center;
  max-width: 170px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-weight: 500;
}
.top-display__discount-title--accent {
  color: #ff6b00;
  font-weight: 500;
}
.top-display__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}
.top-display__price-descr {
  font-size: 14px;
  margin-bottom: 10px;
}
.top-display__price {
  font-size: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-display__price-num {
  display: block;
}
.top-display__price-num--old {
  margin-top: 10px;
  position: relative;
}
.top-display__price-num--old:before, .top-display__price-num--old:after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 90px;
  height: 1px;
  background-color: #eb7f4e;
}
.top-display__price-num--old:before {
  -webkit-transform: rotate(20deg) translateY(20px);
          transform: rotate(20deg) translateY(20px);
}
.top-display__price-num--old:after {
  -webkit-transform: rotate(-23deg) translateY(16px) translateX(-11px);
          transform: rotate(-23deg) translateY(16px) translateX(-11px);
}
.top-display__price-num--new {
  font-weight: 900;
  background-color: #ffbf02;
  padding: 4px 12px;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
}
.top-display__price-num--new:before {
  content: "";
  position: absolute;
  top: 25px;
  right: -57px;
  width: 50px;
  height: 235px;
  z-index: 10;
  background-image: url("../img/form-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.top-display__price-block + .top-display__price-block {
  margin-left: 17px;
}
.top-display__input {
  display: block;
  width: 100%;
  padding: 25px 25px 25px 55px;
  border-radius: 32px;
  border-color: transparent;
  background-color: #eef2f7;
}
.top-display__input:focus {
  border: 1px solid #ff6b00;
}
.top-display__input-wrap {
  position: relative;
}
.top-display__input-wrap + .top-display__input-wrap {
  margin-top: 10px;
}
.top-display__input-wrap:before {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.top-display__input-wrap--name:before {
  width: 20px;
  height: 24px;
  background-image: url("../img/icons/person.svg");
}
.top-display__input-wrap--phone:before {
  width: 22px;
  height: 26px;
  background-image: url("../img/icons/phone.svg");
}
.top-display__submit {
  display: block;
  font-weight: 700;
  width: 100%;
  border-radius: 32px;
  padding: 7px;
  background-color: transparent;
  font-size: 16px;
  border: 1px solid #ffd24e;
  line-height: 0.9;
}
.top-display__submit span {
  font-size: 28px;
}
.top-display__submit-wrap {
  padding: 6px;
  background-color: #ffbf02;
  border-radius: 32px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.top-display__discount-left {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
.top-display__discount-left span {
  color: #a7c93d;
}
.top-display__protection {
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #444444;
  border-radius: 0 0 10px 10px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eef2f7;
}
.top-display__protection-icon {
  margin-right: 10px;
  width: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.top-display__img-wrap {
  position: absolute;
  width: 775px;
  left: -787px;
  top: -137px;
}
.top-display__img-wrap img {
  width: 100%;
  height: auto;
}
.top-display__pills {
  max-width: 100%;
  height: auto;
}
.top-display__pills-wrap {
  position: absolute;
  max-width: 640px;
  width: 54%;
  bottom: -161px;
  left: -75px;
}
.top-display__pills-price {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  line-height: 1;
  font-size: 34px;
}
.top-display__pills-price-1 {
  background-color: #ff6b00;
  position: absolute;
  top: -4%;
  left: 50%;
}
.top-display__pills-price-2 {
  background-color: #a7c93d;
  position: absolute;
  top: 35%;
  left: 66%;
}

.top-title {
  font-size: 48px;
  font-weight: 700;
}

.top-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.content-1 {
  padding: 135px 0 30px 0;
}
.content-1__header {
  text-align: center;
  margin-bottom: 25px;
}
.content-1__top-title {
  margin-bottom: 25px;
}
.content-1__logo {
  margin-bottom: 25px;
}
.content-1__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content-1__block-circle {
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 180px;
  left: -20px;
}
.content-1__block-circle-img {
  width: 100%;
}
.content-1__block-num {
  width: 50px;
  height: 50px;
  border-radius: 500px;
  position: absolute;
  top: 5px;
  right: 0px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}
.content-1__block-num-1 {
  background-color: #ec9a6a;
}
.content-1__block-num-2 {
  background-color: #e47643;
}
.content-1__block-num-3 {
  background-color: #ec5b19;
}
.content-1__block-img {
  padding-top: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  margin-right: 20px;
  margin-bottom: 30px;
}
.content-1__block-img-inner {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 500px;
  background-color: silver;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content-1__block-title {
  font-size: 22px;
  font-weight: 500;
  max-width: 150px;
}
.content-1__block-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-1__block-descr {
  padding-top: 20px;
  position: relative;
  color: #444444;
  font-size: 18px;
  line-height: 1.3;
  max-width: 320px;
}
.content-1__block-descr::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 3px;
  background-color: #becbd8;
}
.content-1__block + .content-1__block {
  margin-left: 2%;
}
.content-1__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
}
.content-1__stat {
  padding: 35px;
  padding-top: 40px;
  border: 3px solid #f4d3bb;
  border-radius: 15px;
  font-size: 22px;
  text-align: center;
  position: relative;
  line-height: 1.3;
}
.content-1__stat:before {
  content: "";
  width: 170px;
  height: 40px;
  background-color: white;
  background-image: url("../img/icons/rating.svg");
  background-size: 57px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -85px;
}

@media (max-width: 1255px) {
  .top-display__price-num--new:before {
    display: none;
  }
}
@media (max-width: 1100px) {
  .top-display__pills-price {
    font-size: 24px;
  }

  .top-display__pills-wrap {
    max-width: 466px;
    bottom: -134px;
    left: -66px;
  }

  .content-1__block-img-inner {
    width: 120px;
    height: 120px;
  }

  .content-1__block-img {
    padding-top: 11px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .content-1__block-circle {
    left: -12px;
    width: 125px;
  }

  .content-1__block + .content-1__block {
    margin-left: 4%;
  }

  .content-1__block-num {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .header {
    background-position: center top;
    background-size: cover;
  }

  .top-display__img-wrap {
    display: none;
  }

  .top-display {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .top-display__text-block {
    max-width: 370px;
    -ms-flex-negative: unset;
        flex-shrink: unset;
    width: auto;
  }

  .top-display__pills-wrap {
    max-width: 500px;
    width: auto;
    bottom: 0px;
    left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
  }

  .content-1 {
    padding: 25px 0 30px 0;
  }

  .content-1__block-descr br {
    display: none;
  }
}
@media (max-width: 928px) {
  .content-1__block-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-1__block-title {
    font-size: 22px;
    font-weight: 500;
    max-width: none;
  }

  .content-1__block-descr br {
    display: none;
  }

  .content-1__block-title {
    margin-bottom: 10px;
  }
}
@media (max-width: 910px) {
  .header__top-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .top-display {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .top-display__form-block {
    max-width: 425px;
    width: 100%;
    margin-left: 0px;
    border-radius: 15px;
  }

  .top-display__list {
    margin-bottom: 50px;
  }

  .content-1__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 75px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-1__block + .content-1__block {
    margin-left: 0px;
    margin-top: 25px;
  }

  .content-1__block {
    max-width: 300px;
  }

  .top-display__title {
    font-size: 37px;
  }

  .top-display__subtitle {
    font-size: 27px;
  }

  .top-title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .top-subtitle {
    font-size: 20px;
    max-width: 450px;
    margin: 0 auto;
  }
}
@media (max-width: 710px) {
  .header__about {
    display: none;
  }

  .header__top-line {
    margin-bottom: 0px;
  }
}
@media (max-width: 576px) {
  .top-display__input {
    padding: 17px 17px 17px 45px;
  }

  .top-display__input-wrap:before {
    left: 20px;
    top: 15px;
  }

  .top-display__form-block {
    border: 5px solid #a7c93d;
  }

  .top-display__delivery {
    border: 5px solid #a7c93d;
    border-top: 0px;
    top: -5px;
  }

  .top-display__item-text {
    font-size: 17px;
  }

  .top-display__submit span {
    font-size: 25px;
  }

  .top-display__price {
    font-size: 27px;
  }

  .top-display__pills-price {
    font-size: 18px;
  }

  .top-title {
    font-size: 30px;
  }

  .top-subtitle {
    font-size: 19px;
  }

  .content-1__stat {
    font-size: 17px;
  }

  .content-1 {
    padding: 0px 0 30px 0;
  }
}

/*# sourceMappingURL=main.css.map */